
/* Set the base font size for all slide content */
.reveal {
    font-size: 18px; /* or 1.1em, or 90% */
  }

/* Resize slide titles */
.reveal h1 {
    font-size: 1.8em;
  }
  
  .reveal h2 {
    font-size: 1.5em;
  }
  
  .reveal h3 {
    font-size: 1.0em;
  }

  .reveal p {
    font-size: 0.8em;
  }